
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  font-size: 20px;
  color: #555;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-family: 'Nunito Sans', sans-serif;
}
.row{
  width:1140px;
  margin:0 auto;
}
/* @-----------login box hidden------ */
.row-visible{
display:none;
}

.login-box {
background-color: rgb(236, 231, 225);
height:75px;
width:100%;
display:flex;
justify-content: center;
align-items: center;
margin-left: 0%;
transition: all 0.3s;
}

.login-box div{
text-align:end;
width: 100%;
height:auto;
overflow: hidden;
}

#username,
#password{
width: 45%;
padding: 5px 0px;
}
.login:link,
.login:visited{ 
margin-left: 40px;
float:left;
text-align: center;
text-transform: uppercase;
font-size: 100%;
border:1px solid #555;
text-decoration: none;
width:33%;
padding:2px 18px;
background-color: aliceblue;
}

.login:active{
color:#555;
transform: translateY(2px);
}
/* @------------header part-------  */
header{
  background-image:linear-gradient(to bottom, #000000e7,#000000c4) ,url('../recourses/img/hero.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.logo-name:link,
.logo-name:visited{
  float:left;
  display:block;
  color:#fff;
  font-size: 150%;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  word-spacing: 1px;
  letter-spacing: 1px;
  margin-top:45px;
} 

/*@-------------navbar menu list-----------------  */
.main-menu{
margin-top:45px;
list-style-type: none;
float:right;
}

.main-menu li{
display:inline-block;
margin-left:15px;
}

.main-menu li a:link,
.main-menu li a:visited{
  color:#fff;
  font-size: 95%;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  word-spacing: 2px;
  letter-spacing: 2px;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
  transition: border-bottom 0.2s ;
}
.main-menu li a:hover,
.main-menu li a:active{
  border-bottom: 2px solid #f00;
}

/* @-----------------------body text-------------- */
.main-text{
  width:100%;
  padding: 40px;
  margin-top:75px;
}
.main-text h1, p{
  color:white;
  text-transform: capitalize;
  line-height: 150%;
  letter-spacing: 1px;
}
h1{
  margin-bottom: 25px;
}
h1 span ,p span{
  text-transform: uppercase;
  color:#f22;
  text-decoration: underline;
}

/* @-----------------user form-----------------------  */
.user-form{
  width:100%;
  padding: 40px 0;
}
.label,h2{
  font-size: 90%;
  text-transform: capitalize;
  font-weight: 300;
  color:#f0efef;
}

select, input{
width:75%;
padding:8px 0;
margin: 6px 0;
font-size: 85%;
}


/*@---------- section steps---------- */


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}